:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
}

/* Утилиты */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  outline: 2px solid tomato;
}

.link {
  text-decoration: none;
}

.button {
  font-family: inherit;
}

.page {
  background-color: var(--background-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.page-header {
  background-color: var(--background-color);
}

/* -------------------Logo--------------------- */

.nav .nav-logo {
  color: #000000;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.nav-logo .nav-logo-two {
  color: var(--accent-color);
}

/* ---------------------Site-nav----------------- */

.nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* ---------------------Contacts-------------------- */

.contacts {
  display: flex;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts .item + .item {
  margin-left: 50px;
}

.contacts .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* -------------------------Hero---------------------- */

.hero {
  text-align: center;
}
.hero .hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  background-color: tomato;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.button-primary {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  background-color: var(--accent-color);
  color: #ffffff;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.button-primary:hover,
.button-primary:focus {
  background-color: #188ce8;
}

/* ------------------------------Section-------------------- */

.section .section-title {
  color: var(--title-text-color);
}

.section-team {
  background-color: #f5f4fa;
}

.section.section-nopadding {
  padding-top: 0;
  padding-bottom: 0;
}

/* ---------------------------Phylosophy---------------------- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.philosophy-list .title {
  color: var(--title-text-color);
}

.philosophy-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.philosophy-list {
  display: flex;
}

.philosophy-list .item + .item {
  margin-left: 30px;
}

.philosophy-list .philosophy-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.philosophy-list .philosophy-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.list-images {
  display: flex;
  justify-content: space-evenly;
}

.list-images .item + .item {
  margin-left: 30px;
}

/* ----------------------------Team--------------------------- */

.section-team {
  padding-top: 184px;
  padding-bottom: 94px;
}

.section-team {
  background-color: #f5f4fa;
}
.team-list .title {
  color: var(--title-text-color);
}

.team-list .team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-top: 0;
  margin-bottom: 10px;
}

.team-list .team-text {
  font-size: 16px;
  line-height: 1.18;
  margin-top: 0;
  margin-bottom: 0;
}

.team-list > .item {
  padding-top: 0;
  padding-bottom: 108px;
  background-color: var(--background-color);
}
.image {
  margin-top: 0;
  margin-bottom: 30px;
}

/* ------------------------------Footer---------------------------- */

.footer {
  background-color: #2f303a;
}

/* -----------------------------Footer logo----------------------- */

.footer-list .footer-logo {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
}

.footer-logo .footer-logo-two {
  color: #ffffff;
}

/* ----------------------------Footer nav------------------------ */

.footer .footer-address {
  color: #ffffff;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 9px;
}

.footer .footer-mail {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  margin-top: 0;
  margin-bottom: 9px;
}

.footer .footer-mail:hover,
.footer .footer-mail:focus {
  color: var(--accent-color);
}

.footer .footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  margin-top: 0;
  margin-bottom: 60px;
}

.footer .footer-tel:hover,
.footer .footer-tel:focus {
  color: var(--accent-color);
}

/* -----------------------------Portfolio-------------------------- */

/* -----------------------------Buttons---------------------------- */

.buttons {
  cursor: pointer;
  background-color: #f5f4fa;
  color: var(--title-text-color);

  border: 1px solid transparent;
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.buttons:hover,
.buttons:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

/* -----------------------------Images------------------------------ */

.image .image-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.image .image-text {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.87;
}
